/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html {
  font-size: 62.5%;
}
header {
  height: 10vh;
}
header {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid red;
}
.cta {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 70vh;
}
.cta button {
  height: 9vh;
  width: 20vw;
}
.cta p {
  font-size: 3rem;
  margin: 3rem 0 0;
}
.about-header {
  justify-content: flex-end;
}
@media screen and (max-width: 500px) {
  .about-header {
    flex-direction: column;
    justify-content: space-evenly;
  }
}
.about-header .about-us {
  margin: 0 5vw 0 40vw;
}
@media screen and (max-width: 500px) {
  .about-header .about-us {
    margin: 0;
  }
}
.hn-info {
  height: 16.5rem;
  width: 49rem;
  font-size: 2rem;
  text-align: center;
  margin: 10vh auto 0 auto;
}
@media screen and (max-width: 500px) {
  .hn-info {
    height: 20rem;
    width: 80vw;
    font-size: 2rem;
    margin-bottom: 5rem;
  }
}
.team {
  display: flex;
  justify-content: center;
  font-size: 2rem;
  margin: 10rem 0;
}
@media screen and (max-width: 500px) {
  .team {
    flex-direction: column;
    margin: 3rem 0;
  }
}
.team img {
  width: 20vh;
  height: 20vh;
  min-width: 15rem;
  min-height: 15rem;
  margin: 0 5rem;
  border: 1px solid red;
}
@media screen and (max-width: 500px) {
  .team img {
    margin: 0;
  }
}
.team p {
  width: 30vw;
  min-width: 25rem;
  margin-bottom: 2rem;
}
.team h2 {
  font-size: 2rem;
  font-weight: bolder;
}
.team h3 {
  font-size: 1.5rem;
  font-weight: bold;
  margin: 0.5rem 0 1rem;
}
.even-num .personal-content {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.even-num .personal-content p {
  text-align: end;
}
@media screen and (max-width: 500px) {
  .even-num .personal-content p {
    text-align: start;
  }
}
@media screen and (max-width: 500px) {
  .even-num .personal-content {
    display: inline;
  }
}
@media screen and (max-width: 500px) {
  .whole {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 auto 0 auto;
  }
  .odd-num {
    flex-direction: column-reverse;
    align-items: flex-end;
  }
  .odd-num .personal-content {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
  .odd-num .personal-content p {
    text-align: end;
  }
}
footer {
  height: 20vh;
  border: 1px solid red;
}
@media screen and (max-width: 500px) {
  footer {
    height: 15vh;
  }
}
