/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html {
  font-family: consolas;
  font-size: 62.5%;
  overflow-x: hidden;
  height: 82vh;
}
html::-webkit-scrollbar {
  display: none;
}
nav {
  display: flex;
  justify-content: space-evenly;
  padding-top: 1.5rem;
}
nav a {
  font-size: 3rem;
  color: #929292;
  text-decoration: none;
}
@media screen and (max-width: 500px) {
  nav a {
    font-size: 2rem;
  }
}
nav #active-nav {
  color: white;
}
header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
  background-image: url("../img/white-textureb.png");
  background-repeat: repeat;
}
@media screen and (max-width: 500px) {
  header .home-icon {
    width: 60vw;
    height: 6vh;
  }
}
.home-icon {
  height: 8rem;
}
.cta {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 82vh;
  background-image: url("../img/bg-home.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: center center;
}
.cta .frame {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100rem;
  height: 50rem;
  margin-bottom: 10rem;
  overflow: hidden;
  font-family: consolas;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.cta .button {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.5s ease 0s;
}
.cta .button svg {
  height: 10rem;
  width: 30rem;
  fill: none;
  stroke-width: 8;
}
.cta .button svg .o1 {
  stroke: rgba(255, 179, 65, 0.7);
  fill: #d88300;
  transition: all 1s ease-in-out;
}
.cta .button svg .o2 {
  stroke: #ffffff;
  stroke-dasharray: 20 800;
  stroke-dashoffset: 20;
  transition: all 1s ease-in-out;
}
.cta .button svg .o3 {
  stroke: #ffffff;
  stroke-dasharray: 20 800;
  stroke-dashoffset: 20;
  transition: all 1s ease-in-out;
}
.cta .button span {
  position: absolute;
  letter-spacing: 3px;
}
.cta .button span p {
  color: #333333;
  text-decoration: none;
  font-size: 3rem;
}
.cta .button:hover {
  transform: translate(-1rem, -1rem);
  box-shadow: 1rem 1rem 1.5rem 0.5rem #1b1b1b;
}
.cta .button:hover .o1 {
  fill: rgba(204, 129, 16, 0.3);
}
.cta .button:hover .o2 {
  stroke-dashoffset: -800;
}
.cta .button:hover .o3 {
  stroke-dashoffset: -800;
}
.cta .button:active {
  transform: translate(1rem, 1rem);
  box-shadow: 0 0 15rem #d88300, 0 0 20rem white;
  transition: all 0.2s ease 0s;
}
.cta .button:active .o1 {
  fill: #cc8110;
  transition: linear;
}
#about {
  background-image: url("../img/brick-bg.png");
  background-repeat: repeat;
  background-size: cover;
}
#about #about-nav {
  background-color: #343a40;
  height: 8vh;
  width: 100%;
}
#about #to-top {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3rem;
  width: 10rem;
  background-color: #d88300;
  border: 1.5px solid #333333;
  border-radius: 0.6rem;
  position: fixed;
  bottom: 3rem;
  right: 5rem;
}
#about #to-top a {
  color: #333333;
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: bolder;
}
@media screen and (max-width: 500px) {
  .about-header {
    flex-direction: column;
    height: auto;
  }
}
.about-header .home-icon {
  display: flex;
  justify-content: flex-end;
  width: 58vw;
}
@media screen and (max-width: 500px) {
  .about-header .home-icon {
    justify-content: center;
  }
}
.about-header .home-icon img {
  height: 8rem;
}
@media screen and (max-width: 500px) {
  .about-header .home-icon img {
    margin-top: 3rem;
  }
}
.top-bar {
  display: flex;
  justify-content: flex-end;
  width: 35vw;
}
@media screen and (max-width: 500px) {
  .top-bar {
    justify-content: center;
    margin-bottom: 1rem;
  }
}
.dropdown {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 4.5rem;
}
@media screen and (max-width: 500px) {
  .dropdown {
    justify-content: center;
  }
}
.dropdown .about-us button {
  font-size: 2rem;
  color: #333333;
  font-weight: 900;
  margin-right: 5rem;
  width: 13rem;
  background: #d88300;
  border: 1.25px solid black;
  border-radius: 0.8rem;
}
@media screen and (max-width: 500px) {
  .dropdown .about-us button {
    font-weight: 600;
    margin: 0;
    transform: translateY(13rem);
  }
}
.dropdown:hover .dropdown-content {
  display: flex;
  justify-content: center;
  width: 100vw;
}
.dropdown:hover .dropdown-content .drop-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  margin: 59rem 0 0 10rem;
  padding: 5rem 5rem;
  background: #333333;
}
.dropdown:hover .dropdown-content .drop-box .card-container {
  display: flex;
  width: auto;
  position: relative;
}
.dropdown:hover .dropdown-content .drop-box .card-container .card {
  position: relative;
}
.dropdown:hover .dropdown-content .drop-box .card-container .card .face {
  width: 30rem;
  height: 20rem;
  transition: 0.5s;
}
.dropdown:hover .dropdown-content .drop-box .card-container .card .face.face1 {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background: #333333;
  z-index: 1;
  transform: translateY(10rem);
}
.dropdown:hover .dropdown-content .drop-box .card-container .card .face.face1 .card-content {
  transition: 0.5s;
}
.dropdown:hover .dropdown-content .drop-box .card-container .card .face.face1 .card-content i {
  font-size: 8rem;
  color: #ffffff;
  max-width: 10rem;
}
.dropdown:hover .dropdown-content .drop-box .card-container .card .face.face1 .card-content h3 {
  margin: 1rem 0 0;
  padding: 0;
  text-align: center;
  font-size: 1.5rem;
}
.dropdown:hover .dropdown-content .drop-box .card-container .card .face.face2 {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background: #ffffff;
  box-sizing: border-box;
  box-shadow: 0rem 1.6rem 1.6rem 0rem rgba(0, 0, 0);
  transform: translateY(-10rem);
}
.dropdown:hover .dropdown-content .drop-box .card-container .card .face.face2 .card-content {
  width: 100%;
  padding: 0 1rem;
}
.dropdown:hover .dropdown-content .drop-box .card-container .card .face.face2 .card-content h3 {
  text-align: center;
  font-size: 2.5rem;
  margin: 0 0 1.5rem;
}
.dropdown:hover .dropdown-content .drop-box .card-container .card .face.face2 .card-content .dev {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  text-align: center;
}
.dropdown:hover .dropdown-content .drop-box .card-container .card .face.face2 .card-content .dev h5 {
  border-right: 2px solid #d88300;
}
.dropdown:hover .dropdown-content .drop-box .card-container .card .face.face2 .card-content .dev p {
  border-right: 2px solid #d88300;
}
.dropdown:hover .dropdown-content .drop-box .card-container .card .face.face2 .card-content .dev #zSmith h5,
.dropdown:hover .dropdown-content .drop-box .card-container .card .face.face2 .card-content .dev #dEaster h5,
.dropdown:hover .dropdown-content .drop-box .card-container .card .face.face2 .card-content .dev #oOredola h5,
.dropdown:hover .dropdown-content .drop-box .card-container .card .face.face2 .card-content .dev #dBielejec h5,
.dropdown:hover .dropdown-content .drop-box .card-container .card .face.face2 .card-content .dev #mCurry h5,
.dropdown:hover .dropdown-content .drop-box .card-container .card .face.face2 .card-content .dev #tNgo h5 {
  border-left: 2px solid #d88300;
}
.dropdown:hover .dropdown-content .drop-box .card-container .card .face.face2 .card-content .dev #zSmith p,
.dropdown:hover .dropdown-content .drop-box .card-container .card .face.face2 .card-content .dev #dEaster p,
.dropdown:hover .dropdown-content .drop-box .card-container .card .face.face2 .card-content .dev #oOredola p,
.dropdown:hover .dropdown-content .drop-box .card-container .card .face.face2 .card-content .dev #dBielejec p,
.dropdown:hover .dropdown-content .drop-box .card-container .card .face.face2 .card-content .dev #mCurry p,
.dropdown:hover .dropdown-content .drop-box .card-container .card .face.face2 .card-content .dev #tNgo p {
  border-left: 2px solid #d88300;
}
.dropdown:hover .dropdown-content .drop-box .card-container .card .face.face2 .card-content .dev .individual {
  width: 100%;
  max-width: 50%;
  padding: 0 0 1rem 0;
}
.dropdown:hover .dropdown-content .drop-box .card-container .card .face.face2 .card-content .dev .individual h5 {
  font-size: 1.6rem;
  margin-top: 0;
}
.dropdown:hover .dropdown-content .drop-box .card-container .card .face.face2 .card-content p {
  font-size: 1.6rem;
  margin: 0;
  padding: 0;
}
.dropdown:hover .dropdown-content .drop-box .card-container .card .face.face2 .card-content .links {
  display: flex;
  justify-content: space-evenly;
}
.dropdown:hover .dropdown-content .drop-box .card-container .card .face.face2 .card-content .links a {
  margin: 1.5rem 0.5rem 0;
  width: 100%;
  height: 3rem;
  max-width: 45%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  font-weight: 900;
  font-size: 1.4rem;
  color: #ffffff;
  background: #333333;
  border: 1px solid #333333;
}
.dropdown:hover .dropdown-content .drop-box .card-container .card .face.face2 .card-content .links a:hover {
  background: #ffffff;
  color: #333333;
}
.dropdown:hover .dropdown-content .drop-box .card-container .card .face.face2 .card-content .links a:active {
  background: #d88300;
}
.dropdown:hover .dropdown-content .drop-box .card-container .card:hover .face.face1 {
  background: #d88300;
  transform: translateY(0);
  opacity: 0.6;
}
.dropdown:hover .dropdown-content .drop-box .card-container .card:hover .face.face1 i {
  color: #333333;
}
.dropdown:hover .dropdown-content .drop-box .card-container .card:hover .face.face2 {
  transform: translateY(0);
  background-image: url("../img/white-textureb.png");
}
@media screen and (max-width: 500px) {
  .dropdown:hover .dropdown-content .drop-box {
    flex-direction: column;
    margin: 216rem 0 0;
  }
}
.dropdown-content {
  display: none;
  position: absolute;
  z-index: 1;
}
.hn-info {
  font-size: 2rem;
  text-align: center;
  color: white;
  font-weight: bolder;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  height: 16.5rem;
  width: 49rem;
  margin: 10vh auto 0 auto;
}
@media screen and (max-width: 500px) {
  .hn-info {
    font-size: 2rem;
    height: 20rem;
    width: 80vw;
    margin: 5vh 0 10vh 0;
  }
}
.team {
  display: flex;
  justify-content: center;
  font-size: 1.5rem;
  font-weight: 600;
  margin: 10rem 0;
}
@media screen and (max-width: 500px) {
  .team {
    flex-direction: column;
    margin: 3rem 0;
  }
}
.team img {
  width: 24rem;
  height: 24rem;
  min-width: 15rem;
  min-height: 15rem;
  border: 5px solid black;
}
@media screen and (max-width: 500px) {
  .team img {
    margin: 0;
  }
}
.team .personal-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-image: url("../img/white-textureb.png");
  border: 5px solid black;
}
@media screen and (max-width: 500px) {
  .team .personal-content {
    margin-top: 2rem;
    width: 60vw;
  }
}
.team .personal-content .title {
  height: 6rem;
}
.team p {
  width: 30vw;
  min-width: 25rem;
  margin-bottom: 2rem;
}
.team h2 {
  font-size: 2rem;
  font-weight: bolder;
}
.team h3 {
  font-size: 1.5rem;
  font-weight: 600;
}
.team p,
.team h2,
.team h3,
.team a {
  padding: 0.5rem;
}
.even-num img {
  margin-right: 20rem;
}
@media screen and (max-width: 500px) {
  .even-num img {
    margin: 0;
  }
}
.odd-num img {
  margin-left: 20rem;
}
@media screen and (max-width: 500px) {
  .odd-num img {
    margin: 0;
  }
}
.even-num .personal-content {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.even-num .personal-content .title {
  text-align: end;
  width: 100%;
  background-color: rgba(216, 130, 0, 0.205);
}
@media screen and (max-width: 500px) {
  .even-num .personal-content .title {
    text-align: start;
  }
}
.even-num .personal-content p {
  text-align: end;
}
@media screen and (max-width: 500px) {
  .even-num .personal-content p {
    text-align: start;
  }
}
@media screen and (max-width: 500px) {
  .even-num .personal-content {
    display: inline;
  }
}
.odd-num .personal-content .title {
  width: 100%;
  background-color: rgba(216, 130, 0, 0.205);
}
@media screen and (max-width: 500px) {
  .whole {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .odd-num {
    flex-direction: column-reverse;
    align-items: flex-end;
  }
  .odd-num .personal-content {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
  .odd-num .personal-content .title {
    text-align: end;
  }
  .odd-num .personal-content p {
    text-align: end;
  }
}
.wrapper {
  width: 100vw;
  height: 82vh;
  padding: 15rem;
  background-image: url("../img/keyboard.jpeg");
  background-size: cover;
}
.wrapper .form {
  text-align: center;
  box-shadow: 0 0 6rem 0.5rem #AAA;
  border-radius: 1rem;
  width: 35vw;
  height: 33rem;
  margin: 0 auto;
  padding: 1rem 1rem;
  background-image: url("../img/white-textureb.png");
}
@media screen and (max-width: 500px) {
  .wrapper .form {
    width: 70vw;
    transform: translateX(-25%);
  }
}
.name {
  background-color: #333333;
  border-bottom: 0.5rem solid #111111;
  color: white;
  height: 4rem;
  width: 16vw;
}
@media screen and (max-width: 500px) {
  .name {
    width: 32vw;
  }
}
.name:hover {
  background-color: #d88300;
  border-bottom: 0.5rem solid #965a00;
  width: 32vw;
}
@media screen and (max-width: 500px) {
  .name:hover {
    width: 64vw;
  }
}
.email {
  background-color: #d88300;
  border-bottom: 0.5rem solid #965a00;
  height: 4rem;
  width: 16vw;
}
@media screen and (max-width: 500px) {
  .email {
    width: 32vw;
  }
}
.email:hover {
  background-color: #333333;
  border-bottom: 0.5rem solid #111111;
  width: 32vw;
}
@media screen and (max-width: 500px) {
  .email:hover {
    width: 64vw;
  }
}
.message {
  background-color: #333333;
  border-bottom: 0.5rem solid #111111;
  overflow: hidden;
  height: 11rem;
  width: 16vw;
}
@media screen and (max-width: 500px) {
  .message {
    width: 32vw;
  }
}
.message:hover {
  background-color: #d88300;
  border-bottom: 0.5rem solid #965a00;
  width: 32vw;
}
@media screen and (max-width: 500px) {
  .message:hover {
    width: 64vw;
  }
}
.submit {
  border-radius: 0.5rem;
  padding: 1rem;
  border: none;
  border-bottom: 0.5rem solid #111111;
  transform: translateY(-60px);
}
.submit:hover {
  box-shadow: 0 0 6rem 0.5rem rgba(78, 72, 77, 0.219);
}
.entry {
  display: block;
  margin: 3rem auto;
  padding: 1rem;
  border-radius: 0.5rem;
  border: none;
  transition: all 0.5s ease 0s;
  box-shadow: 0 0 2rem 0.2rem #AAA;
}
.submit {
  border-radius: 0.5rem;
  padding: 1rem;
  width: 15rem;
  color: white;
  background-color: #d88300;
  border-bottom: 0.5rem solid #965a00;
  margin-top: 15rem;
}
::-webkit-input-placeholder {
  color: white;
  font-size: 2rem;
}
footer {
  background-color: #343a40;
  height: 8vh;
  width: 100%;
}
@media screen and (max-width: 500px) {
  footer {
    height: 6vh;
  }
}
