#about {
    background-image: url("../img/brick-bg.png");
    background-repeat: repeat;

    #about-nav {
    background-color: #343a40;
    height: 8vh;
    width: 100%;
    }

    #to-top {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 3rem;
        width: 10rem;
        background-color: @expanded-card-bg;
        border: 1.5px solid @bg-color;
        border-radius: 0.6rem;
        position: fixed;
        bottom: 3rem;
        right: 5rem;

        a {
            color: @bg-color;
            text-decoration: none;
            font-size: 1.5rem;
            font-weight: bolder;
        }
    }
}

.about-header {

    @media @mobile {
        flex-direction: column;
        height: auto;
    }

    .home-icon {
        display: flex;
        justify-content: flex-end;
        width: 58vw;

        @media @mobile {
            justify-content: center;
        }

        img {
            height: 8rem;

            @media @mobile {
                margin-top: 3rem;
            }
        }
    }
}

.top-bar {
    display: flex;
    justify-content: flex-end;
    width: 35vw;

    @media @mobile {
        justify-content: center;
        margin-bottom: 1rem;
    }
}

.dropdown {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 4.5rem;

    @media @mobile {
        justify-content: center;
    }

    .about-us button {
        font-size: 2rem;
        color: @bg-color;
        font-weight: 900;

        margin-right: 5rem;
        width: 13rem;

        background: @expanded-card-bg;
        border: 1.25px solid black;
        border-radius: 0.8rem;

        @media @mobile {
            font-weight: 600;
            margin: 0;
            transform: translateY(13rem);
        }
    }

    &:hover .dropdown-content {
        display: flex;
        justify-content: center;
        width: 100vw;

        .drop-box {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100vw;
            margin: 59rem 0 0 10rem;
            padding: 5rem 5rem;
            background: @bg-color;

            .animated-card(@bg-color, @icon-color, @card-face-color, @expanded-card-bg);

            @media @mobile {
                flex-direction: column;
                margin: 216rem 0 0; 
            }
        }
    }
}

.dropdown-content {
    display: none;
    position: absolute;
    z-index: 1;
}

.hn-info {
    font-size: 2rem;
    text-align: center;
    color: white;
    font-weight: bolder;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    height: 16.5rem;
    width: 49rem;
    margin: 10vh auto 0 auto;

    @media @mobile {
        font-size: 2rem;
        height: 20rem;
        width: 80vw;
        margin: 5vh 0 10vh 0;
    }
}

.team {
    display: flex;
    justify-content: center;
    font-size: 1.5rem;
    font-weight: 600;
    margin: 10rem 0;

    @media @mobile {
        flex-direction: column;
        margin: 3rem 0;
    }

    img {
        width: 24rem;
        height: 24rem;
        min-width: 15rem;
        min-height: 15rem;
        border: 5px solid black;

        @media @mobile {
            margin: 0;
        }
    }

    .personal-content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background-image: @background-texture;
        border: 5px solid black;

        @media @mobile {
            margin-top: 2rem;
            width: 60vw;
        }

        .title {            
        height: 6rem;
        }
    }

    p {
        width: 30vw;
        min-width: 25rem;
        margin-bottom: 2rem;

    }

    h2 {
        font-size: 2rem;
        font-weight: bolder;
    }

    h3 {
        font-size: 1.5rem;
        font-weight: 600;
    }

    p, h2, h3, a {
        padding: 0.5rem;
    }
}

.even-num img {
    margin-right: 20rem;

    @media @mobile {
        margin: 0;
    }
}

.odd-num img {
    margin-left: 20rem;

    @media @mobile {
        margin: 0;
    }
}

.even-num .personal-content {
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    .title {
        text-align: end;
        width: 100%;
        background-color: rgba(216, 130, 0, 0.205);

        @media @mobile {
            text-align: start;
        }
    }

    p {
        text-align: end;

        @media @mobile {
            text-align: start;
        }
    }

    @media @mobile {
        display: inline;
    }
}

.odd-num .personal-content {

    .title {
        width: 100%;
        background-color: rgba(216, 130, 0, 0.205);
    }
}

@media @mobile {

    .whole {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .odd-num {
        flex-direction: column-reverse;
        align-items: flex-end;

        .personal-content {
            display: flex;
            flex-direction: column;
            align-items: flex-end;

            .title {
                text-align: end;
            }

            p {
                text-align: end;
            }
        }
    }
}