nav {
    display: flex;
    justify-content: space-evenly;
    padding-top: 2rem;

    a {
        font-size: 3rem;
        color: @bg-color;
        text-decoration: none;
        box-shadow: -1 -1 white;

        @media @mobile {
            font-size: 2rem;
        }
    }
}