nav {
    display: flex;
    justify-content: space-evenly;
    margin: 1.5rem 0 0;
    padding-top: 1rem;

    a {
        font-size: 4rem;
        color: @bg-color;
        text-decoration: none;
        box-shadow: -1 -1 white;

        @media @mobile {
            font-size: 2rem;
        }
    }
}